*{
  margin: 0;
  padding: 0;
}

.wrapper{
  overflow-x: hidden;
  overflow-y: auto;
}

.btn-box{
  display: flex;
  justify-content: space-between;
}

.success-msg{
  width: 100%;
  padding: 14px;
  background-color: #dff0d8;
  color: #468847;
}

.error-msg{
  width: 100%;
  padding: 14px;
  background-color: #f0d0d3;
  color: #df786f;
}

.link{
  text-decoration: none;
}